<div class="container">
  <div class="row g-5 mt-5">
    <div class="col-lg-5">
      <img class="img-fluid" src="assets/newpro.png" alt="" />
    </div>
    <div class="col-lg-7">
      <p class="mb-12 text-justify">
        I’m an effective, interpersonally skilled, energetic, and self-motivated
        individual who can work as a team member to make the best possible
        contribution to the success of the company while achieving ongoing
        personal and professional development.
      </p>
      <br />
      <p class="mb-12 text-justify text-primary">
        I'm a 3<sup>rd</sup> year undergraduate in the Department of Computing
        and Information Systems in the Faculty of Computing at Sabaragamuwa
        University of Sri Lanka.
      </p>
      <br />

      <div
        id="carouselExampleIndicators"
        class="carousel slide mx-auto"
        data-ride="carousel"
        style="max-width: 500px"
        data-interval="1500"
      >
        <h5>My Skills</h5>
        <br />
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active col-lg-12">
            <div class="row">
              <div class="col-lg-4">
                <img class="img" src="assets/html.png" alt="HTML" />
              </div>
              <div class="col-lg-4">
                <img class="img" src="assets/css.png" alt="CSS" />
              </div>
              <div class="col-lg-4">
                <img class="img" src="assets/javascript.png" alt="JavaScript" />
              </div>
            </div>
          </div>
          <div class="carousel-item col-lg-12">
            <div class="row">
              <div class="col-lg-4">
                <img class="img" src="assets/angular.png" alt="Angular" />
              </div>
              <div class="col-lg-4">
                <img class="img" src="assets/laravel.png" alt="Laravel" />
              </div>
              <div class="col-lg-4">
                <img class="img" src="assets/react.png" alt="ReactJS" />
              </div>
            </div>
          </div>
          <div class="carousel-item col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <img class="img" src="assets/php.png" alt="PHP" />
              </div>
              <div class="col-lg-6">
                <img class="img" src="assets/mysql.png" alt="MySQL" />
              </div>
            </div>
          </div>
          <div class="carousel-item col-lg-12">
            <div class="row">
              <div class="col-lg-4">
                <img class="img" src="assets/dart.png" alt="Dart" />
              </div>
              <div class="col-lg-4">
                <img class="img" src="assets/flutter.png" alt="Flutter" />
              </div>
              <div class="col-lg-4">
                <img
                  class="img"
                  src="assets/android-studio.png"
                  alt="Android Studio"
                />
              </div>
            </div>
          </div>
          <div class="carousel-item col-lg-12">
            <div class="row">
              <div class="col-lg-4">
                <img class="img" src="assets/java.png" alt="Java" />
              </div>
              <div class="col-lg-4">
                <img class="img" src="assets/c.png" alt="C Programming" />
              </div>
              <div class="col-lg-4">
                <img class="img" src="assets/bootstrap.png" alt="Bootstrap" />
              </div>
            </div>
          </div>
          <div class="carousel-item col-lg-12">
            <div class="row">
              <div class="col-lg-4">
                <img class="img" src="assets/git.png" alt="Git" />
              </div>
              <div class="col-lg-4">
                <img class="img" src="assets/github.png" alt="GitHub" />
              </div>
              <div class="col-lg-4">
                <img class="img" src="assets/vscode.png" alt="VS Code" />
              </div>
            </div>
          </div>
          <div class="carousel-item col-lg-12">
            <div class="row">
              <div class="col-lg-4">
                <img class="img" src="assets/adobe.png" alt="Adobe Xd" />
              </div>
              <div class="col-lg-4">
                <img class="img" src="assets/figma.png" alt="Figma" />
              </div>
              <div class="col-lg-4">
                <img class="img" src="assets/trello.png" alt="Trello Board" />
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only abc">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
