<div class="container">
  <div class="row g-5 align-items-center">
    <div class="col-lg-6 py-6 pb-0 pt-lg-0">
      <h2>Hello ! &nbsp; &nbsp;<span class="text-primary mb-3">I'm</span></h2>

      <h1 class="display-3 mb-2">Chamodi Herath</h1>
      <br />

      <h3 class="text-primary mb-3">
        Web Developer, Mobile Developer, UI/UX designer
      </h3>
      <p>
        <i
          >"Architecting Tomorrow's Solutions, One Line of Code at a Time."
          👩‍💻♥️</i
        >
      </p>
    </div>
    <div class="col-lg-6">
      <img
        class="img-fluid"
        src="assets/chamo.png"
        alt=""
        height="1000px"
        width="550px"
      />
    </div>
  </div>
</div>
